*{
    padding: 0;
    margin:0;
}

body {
    background-color: blue;
    font-family: sans-serif;
    padding: 50px;
}

.main-container {
    width: 366px;
    height: 526px;
    background-color: yellow;
    border-radius: 10px;
    overflow: hidden;
}

.goren-del {
    height: 318px;
    width: 100%;
    background-image: url(vremenska/Phote.png);
    overflow: hidden;
}

.dolen-del {
    background-color: #001a03;
    height: 208px;
    width: 100%;
}

.dvaesetipet{
    font-size: 100pt;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 100px;
}

.krug {
    height: 13px;
    width: 13px;
    border-radius: 360px;
    border: 3px solid white;
    margin-left: 260px;
    margin-top: -125px;
}

.oblak {
    float: right;
    padding: 80px;
    margin-top: 20px
}

.cloudy {
    float: right;
    padding: 10px 45px 10px 0px;
    font-size: 20px;
    color: white
}

.oblak img {
padding-right: 12px
}

