body {
    display: block;
    margin: 0px;
}
.div1 {
    background-color: red;
    width: 100%;
    height: 100px;
    margin-top: -20px;
}
.tocka {
    text-align: center;
    padding-top: 0.7em;
    color: white;
    font-weight: bold;
    font-family: sans-serif
}
.news {
    text-align: center;
    color: white;
    margin-top: -20px;
}
.div2 {
    width: 100%;
    background-color: white
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

ul {
    text-transform:uppercase;
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 0px 17px 10%;
    list-style: none;
 
  }
  ul li {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    margin-right: -5px;
    position: relative;
    padding: 15px 20px;
    background: white;
    color:#6aa25d;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  ul li:hover {
    background: #6aa25d;
    color: #f7f7f7;
    }

.grid-container {
        padding-top:45px;
        display: grid;
        grid-template-columns: 45% 26fr 26fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: ". . ." ". . .";
      }
.img{
    width: 90%;
    margin-left: 10%
}
.avion{
    margin-left: 12%;
    margin-top: 0%;
    font-weight: bold;
    font-size: 16pt
}
.podtekst {
    margin-left: 10%;
    margin-top: -2%
    
}
.img2{
    width: 90%;
    margin-left: 4%;
}
.grkot {
    margin-left: 5%;
    margin-top: 1%;
    font-weight: bold;
    font-size: 16pt
}
.img3{
    width: 90%;
    margin-left: 4%;
}
.bankar {
    margin-left: 5%;
    margin-top: 1%;
    font-weight: bold;
    font-size: 17pt
}
.img4 {
    width: 90%;
    margin-left: 0%
}
.porno {
    margin-left: 1%;
    margin-top: 1%;
    font-weight: bold;
    font-size: 16pt
}
.najcitani {
    font-weight: bold;
    font-size: 20pt
}
.treto {
    background-color: #f0f0f0;
    width: 75%;
    height: 65%;
    padding-left: 10px;
    margin-top: 30px;
}
.div5 {
    background-color: #f0f0f0;
    width: 250% ;
    height:20%
}

.div7 {
    background-color: silver;
    width: 2000px;
    height: 150PX;
}
.denes {
    color: red;
    font-size: 32pt;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 100px
}
.treba{
    color: red;
    font-size: 14pt;
    font-weight: bold;
    margin-left: 90px;
    margin-top: -45px;
}
.div8{
    background-color: silver;
    width: 350px;
    height: 100px;
    margin-left: 20%;
    margin-top: -112px
}
.medicinska {
    font-weight: bold;
    margin-top: 50px;
    font-size: 16pt
    
}
.div9 {
    background-color: silver;
    width: 350px;
    height: 100px;
    margin-left:40%;
    margin-top: -112px;

}
.komisijata {
    font-weight: bold;
    margin-top: 12px;
    font-size: 16pt

}
.div10 {
    background-color: silver;
    width: 350px;
    height: 100px;
    margin-left:60%;
    margin-top: -112px;

}
.mijalkov {
    font-weight: bold;
    margin-top: 12px;
    font-size: 16pt
}